.emailEntry {
    color: var(--brand-text);
}

.newPasswordEntry {
    color: var(--brand-text);
}

.emailForm {
    width: 210px;
    background-color: #f0eded;
    color: black;
    border-color: var(--brand-secondary);
    border-radius: 6px;
}

.newPasswordForm {
    background-color: #f0eded;
    color: black;
    border-color: var(--brand-secondary);
    border-radius: 6px;
    margin-top: 5px;
}

.resetButton {
    background-color: var(--brand-secondary);
    color: var(--brand-text);
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 6px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.cancelButton {
    background-color: var(--brand-accent-dark);
    color: var(--brand-text);
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 6px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-left: 10px;
}